<a href="https://colab.research.google.com/github/sohanuzzamansoad/CSE_310_18101064/blob/master/B1_CT_2_18101064.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Print the minimum value from three given integers**

In [ ]:
a= int(input('Input 1:'))
b= int(input('Input 2:'))
c= int(input('Input 3:'))
if (a<=b) and (a<=c):
  print(a)
elif (b<=a) and (b<=c):
  print(b)
else:
  print('Output:',c)

Input 1:10
Input 2:20
Input 3:5
Output: 5

**2. Write a python program to calculate the grade of an exam. The exam mark will be given as input. Follow the UAP rule for grading.**

In [ ]:
marks=float(input("Input:"))

if marks>=80:
  print('Output: A+')
elif (marks>=75) and (marks<80):
  print('Output: A')
elif (marks>=70) and (marks<75):
  print('Output: A-')
elif (marks>=65) and (marks<70):
  print('Output: B+')
elif (marks>=60) and (marks<65):
  print('Output: B')
elif (marks>=55) and (marks<60):
  print('Output: B-')
elif (marks>=50) and (marks<55):
  print('Output: C+')
elif (marks>=45) and (marks<50):
  print('Output: C')
elif (marks>=40) and (marks<45):
  print('Output: D')
else:
  print('Output: F')

Input:74
Output: A-

**3. Given a list of 5 elements, swap two values of specified index**

In [ ]:
e1=input('Element 1:')
e2=input('Element 2:')
e3=input('Element 3:')
e4=input('Element 4:')
e5=input('Element 5:')
ls=[e1,e2,e3,e4,e5]
index1=int(input('Index 1:'))
index2= int(input('Index 2:'))
temp=ls[index2]
ls[index2]=ls[index1]
ls[index1]=temp
print('Output:', ls)

Element 1:10
Element 2:1
Element 3:5
Element 4:3
Element 5:2
Index 1:2
Index 2:4
Output: ['10', '1', '2', '3', '5']

**4. Choose variables of appropriate data type to store the following information.**

In [ ]:
e1={
    'EmpID': 77920,
    'LastName': 'Jackson',
    'FirstName': 'Stephen',
    'HireDate':'11-29-1997'
}

e2={
    'EmpID': 77921,
    'LastName': 'Reynolds',
    'FirstName': 'Sandy',
    'HireDate':'01-04-1993'
}

e3={
    'EmpID': 77922,
    'LastName': 'Armstrong',
    'FirstName': 'Stephen',
    'HireDate':'09-16-1989'
}

e4={
    'EmpID': 77823,
    'LastName': 'Jackson',
    'FirstName': 'Linda',
    'HireDate':'10-09-1996'
}

emp={
    '77920': e1,
     '77921': e2,
     '77922':e3,
     '77823':e4
}

#print(emp['77922']['LastName'])

Armstrong