<a href="https://colab.research.google.com/github/sohanuzzamansoad/CSE_310_18101064/blob/master/B1_CT_3_18101064.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **1. Write a python program to Sum the following series:**

In [ ]:
n=int(input('N:'))
ic=1
sum=0
for i in range(n):
  sum+=ic
  ic+=2
print('Sum:',sum)

# 1 + 3 + 5 + 7

N:4
Sum: 16

 **2. First store information of each student from the following Students table in a dictionary. Then create another dictionary to store all the students’ information. Now, use a loop to iterate through a dictionary of students (dictionary) and print only the “name” of all the students**

In [ ]:
s1={'ID': 1,
    'First Name':'Peter',
    'Last Name': 'Lee',
    'Email': 'plee@university.edu',
    'Year of Birth': 1992}

s2={'ID': 2,
    'First Name':'Jonathan',
    'Last Name': 'Edwards',
    'Email': 'jedwards@university.edu',
    'Year of Birth': 1994}

s3={'ID': 3,
    'First Name':'Marilyn',
    'Last Name': 'Johnson',
    'Email': 'mjohnson@university.edu',
    'Year of Birth': 1993}

s4={'ID': 6,
    'First Name':'Joe',
    'Last Name': 'Kim',
    'Email': 'jkim@university.edu',
    'Year of Birth': 1992}

student_dic =[s1,s2,s3,s4]

for student in student_dic:
  print(student['First Name']+' '+student['Last Name'])

Peter Lee
Jonathan Edwards
Marilyn Johnson
Joe Kim